
datavizwebsite/data/.DS_Store
datavizwebsite/.DS_Store
.DS_Store
datavizwebsite/data/.DS_Store
datavizwebsite/data/.DS_Store
datavizwebsite/data/.DS_Store
Presentation/01_Stills/Comp_Boulder.tif
Presentation/01_Stills/Comp_Skate.tif
Presentation/01_Stills/Print/boulder/chalk bag.tif
Presentation/01_Stills/Print/skate/skate_deck_comp.tif
Presentation/02_Video/Boulder_Clip.mov
Presentation/02_Video/Boulder_Explosion.mov
Presentation/02_Video/Skate_Clip.mov
Presentation/02_Video/Swim_Clip.mov
Presentation/02_Video/Swim_Meshline.mov
