body {
    background-color: #131313;
    color: rgb(221, 221, 221);
}

/*page background color*/
.navbar-dark {
    background-color: #131313 !important;
}

/* dat.gui position */
#gui {
    position: absolute;
    top: 80px;
    right: 50px;
}

/* dat.gui colors */
.dg .cr.function {
    border-left: 0px !important;
}

.dg .cr.string {
    border-left: 0px !important;
}

/*home nav item*/
.navbar-dark .navbar-brand {
    color: #b885a7;
}
/*home nav hover*/
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #bcbcbc;
}

/*current page nav*/
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #898989;
}

/* hover over*/
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #bcbcbc;
}

.text-white {
    font-size: small;
    color: #898989 !important;
}

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dataInfoText {
    position: absolute;
    bottom: 70px;
    padding: 1% 2%;
    margin-left: 20%;
    width: 60%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    z-index: 100;
    display: block;
    visibility: hidden;
}

#introduction {
    position: absolute;
    padding: 1% 1%;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    text-align: justify;
    background-color: rgba(48, 48, 48, 0.75);
    border-radius: 5px;
    z-index: 100;
    display: block;
    visibility: visible;
}
